[submodule "externals/cryptopp-cmake"]
    path = externals/cryptopp-cmake
    url = https://github.com/shadps4-emu/ext-cryptopp-cmake.git
    shallow = true
[submodule "externals/cryptopp"]
    path = externals/cryptopp
    url = https://github.com/shadps4-emu/ext-cryptopp.git
    shallow = true
[submodule "externals/fmt"]
    path = externals/fmt
    url = https://github.com/shadps4-emu/ext-fmt.git
    shallow = true
[submodule "externals/toml11"]
    path = externals/toml11
    url = https://github.com/ToruNiina/toml11.git
    shallow = true
[submodule "externals/tracy"]
    path = externals/tracy
    url = https://github.com/shadps4-emu/tracy.git
    shallow = true
[submodule "externals/fmt"]
    path = externals/fmt
    url = https://github.com/fmtlib/fmt.git
[submodule "externals/cryptopp"]
    path = externals/cryptopp
    url = https://github.com/weidai11/cryptopp.git
[submodule "externals/zlib"]
	path = externals/zlib
	url = https://github.com/madler/zlib.git
